.navbar-brand{
    height: 1.5em;
}

.titulo1{
    text-align: center;
    color: #fff

    ;
}


.lorem1{
    color: #fff;
    
}

.lorem2{
    color: #fff;
}

.lorem3{
  color:#fff;


}

.montserrat-300 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  .montserrat-500 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
    